hw3.xsd

<?xml version = "1.0" encoding = "UTF-8" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

<!-- DECLARE ELEMENTS. -->
<xsd:element name = "note" 	type = "noteType"	/>
<xsd:element name = "to" 	type = "xsd:string" 	/>
<xsd:element name = "from" 	type = "xsd:string"	/>
<xsd:element name = "heading" 	type = "xsd:string" 	/>
<xsd:element name = "body" 	type = "xsd:string" 	/>


<!-- DEFINE STRUCTURE. -->
	<xsd:complexType name="noteType">
		<xsd:sequence>
			<xsd:element ref="to"/>
			<xsd:element ref="from"/>
			<xsd:element ref="heading"/>
			<xsd:element ref="body"/>
		</xsd:sequence>
	</xsd:complexType>

	</xsd:schema>
